/* Register */
.card {
  background-color: white;
  padding: 2rem 1.5rem;
}

.subtitle {
  color: var(--color-gray);
  font-size: 0.8em;
  text-align: center;
  margin-bottom: 3rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: start;
  row-gap: 4px;
}

.input-group {
  margin-bottom: 16px;
}

.input-check {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
  margin-bottom: 24px;
}

.input-check .input-label {
  font-size: 0.8em;
}

.input-group > * {
  width: 100%;
}

.input-label {
  font-size: 0.9em;
  font-weight: 600;
}

.input {
  padding: 0.4rem 1rem;
  font-size: 0.9em;
}

button.btn {
  border: none;
}

.error {
  border: 1px solid red;
}

.error-text {
  font-size: 0.6em;
}

.error + .error-text {
  color: red;
}
